/*
    Viewport Resolution: 640x360
    Common Devices: Samsung Galaxy S3, S4, S5
*/
/*#region Variables*/
/*#endregion Variables*/
/*#region Generic*/
html,
body {
  height: 100%;
}
td {
  border: 1px solid #1b97d5;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
input {
  background-color: #000116;
  color: #1b97d5;
  border-color: #1b97d5;
  -ms-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
}
.blank_page {
  color: #1b97d5;
  height: 100%;
  background-image: url("../../Backgrounds/Blank/Blank_640_360.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 640px;
  height: 360px;
}
.blank_panel {
  width: 605px;
  height: 355px;
  padding-left: 35px;
  padding-top: 5px;
}
/*#endregion Generic*/
/*#region Login*/
.login_title {
  color: #b0b51b;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-top: 38px;
  padding-left: 50px;
}
.login_area {
  padding-left: 140px;
  padding-top: 65px;
}
.login_password_area {
  margin-top: 5px;
  margin-left: 3px;
}
.login_button_area {
  margin-top: 5px;
  margin-left: 75px;
}
.login_submit_button {
  margin-left: 47px;
}
.register_area {
  padding-left: 100px;
  padding-top: 40px;
}
/*#endregion Login*/
/*#region Character*/
.character_select_title {
  color: #b0b51b;
  padding-left: 36px;
  padding-top: 38px;
  font-weight: bold;
}
.sign_out_no_char {
  float: right;
  padding-right: 34px;
}
.character_select_area {
  width: 557px;
  height: 290px;
  margin-left: 7px;
  font-size: 12px;
  margin-top: 5px;
}
.create_new_char_btn {
  position: absolute;
  margin-left: 475px;
  margin-top: 7px;
  z-index: 1;
}
.create_char_title {
  color: #b0b51b;
  font-weight: bold;
  padding-top: 38px;
  padding-left: 36px;
}
.create_char_area {
  margin-left: 10px;
  margin-top: 20px;
  width: 100%;
}
.create_char_area input[type="text"] {
  width: 160px;
}
.create_char_area .cell1 {
  width: 35%;
  float: left;
  height: 100%;
  margin-bottom: 6px;
}
.create_char_area .cell2 {
  width: 65%;
  float: right;
  margin-bottom: 5px;
}
.create_char_btn {
  margin-top: 3px;
  margin-right: 25px;
  float: right;
}
/*#endregion Character*/