@using SWDataPad.Helpers

@{
    SessionHelper.ActiveDashboardPage = String.IsNullOrEmpty(SessionHelper.ActiveDashboardPage) ? "equip" : SessionHelper.ActiveDashboardPage;
}

<div class="icon_panel">
    <img id="equipOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Equip_Icon_Active.png"/>
    <a id="equip" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Equip_Icon_Inactive.png"/></a>
    <img id="invOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Inventory_Icon_Active.png"/>
    <a id="inv" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Inventory_Icon_Inactive.png"/></a>
    <img id="charShtOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Char_Sheet_Icon_Active.png"/>
    <a id="charSht" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Char_Sheet_Icon_Inactive.png"/></a>
    <img id="skillFeatsOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Skills_Feats_Icon_Active.png"/>
    <a id="skillFeats" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Skills_Feats_Icon_Inactive.png"/></a>
    <img id="chatOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Chat_Icon_Active.png"/>
    <a id="chat" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Chat_Icon_Inactive.png"/></a>
    <img id="journalOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Journal_Icon_Active.png"/>
    <a id="journal" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Journal_Icon_Inactive.png"/></a>
    <img id="mapOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Map_Icon_Active.png"/>
    <a id="map" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Map_Icon_Inactive.png"/></a>
    <img id="settingsOn" class="dash_icon" src="~/Content/Backgrounds/Icons/Settings_Icon_Active.png"/>
    <a id="settings" class="dash_icon inactive"><img src="~/Content/Backgrounds/Icons/Settings_Icon_Inactive.png"/></a>
</div>

<div class="dash_title">
    <div id="titleText"></div>
    <div id="signOutArea">
        <a class="change_char" href="@Url.Action("Select", "Character")">Change Character</a> | <a class="sign_out_char" href="@Url.Action("LogOut", "Login")">Sign Out</a>
    </div>
</div>

<div id="equipPage" class="dash_page" TitleText="Equip">
</div>
<div id="invPage" class="dash_page" TitleText="Inventory">
</div>
<div id="charShtPage" class="dash_page" TitleText="Character">
</div>
<div id="skillFeatsPage" class="dash_page" TitleText="Skills & Feats">
</div>
<div id="chatPage" class="dash_page" TitleText="Messages">
</div>
<div id="journalPage" class="dash_page" TitleText="Journal">
</div>
<div id="mapPage" class="dash_page" TitleText="Map">
</div>
<div id="settingsPage" class="dash_page" TitleText="Settings">
</div>

<script type="text/javascript">
    var activeDashboardPage = '@SessionHelper.ActiveDashboardPage';

    function toggleActivePage(newPage) {
        $('#' + activeDashboardPage).css('display', 'inline');
        $('#' + activeDashboardPage + 'On').css('display', 'none');
        $('#' + activeDashboardPage + 'Page').css('display', 'none');
        activeDashboardPage = newPage;
        $('#' + activeDashboardPage).css('display', 'none');
        $('#' + activeDashboardPage + 'On').css('display', 'inline');
        $('#' + activeDashboardPage + 'Page').css('display', 'inline');
        $('#titleText').text($('#' + activeDashboardPage + 'Page').attr('TitleText'));
        $.post('@Url.Action("SetActiveDashboardPage")', { page: activeDashboardPage });
    }

    $('.dash_icon.inactive').click(function () {
        toggleActivePage($(this).attr("id"));
    });

    $(document).ready(function () {
        $('.dash_icon.inactive').css('display', 'inline');
        toggleActivePage(activeDashboardPage);
    });
</script>
